
.header{
    background-image: url("img/pattern.png");
    background-size: 25%;
    background-color: rgb(156, 156, 252);
    height: 12vh;
    position: relative;
}
#logo{
    position: absolute;
    width: 10vw;
    bottom: 0;
}
#TheBooleaner{

    color: blue;
}
#Date{
    margin: 0px 0px 15px 0px;  
}
.MarginReset{
    margin: 0;
}

.Yellow{
    background-color: yellow;

}
.GreyColor{
    color: grey ;
}

.List{
    padding: 10px;
}

.WhiteText{
    color: white;
    margin-left: 10px;
}

.MonitorImg{
    background-image: url("img/monitor.jpg");
    width: 220px;
    height: 220px;
    margin-bottom: 10px;
}

.GraphImg{
    background-image: url("img/graph.jpg");
    width: 220px;
    height: 220px;
}


